#DropButton{
    position: absolute;
    top:40%;
    right: 5px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    color: #777;
    background-color: transparent;
    font-weight: bold;
    &:focus{
        outline: none;
    }
}

#ItemSelected{
    display: inline-flex;
}